{% extends "base.html" %}


{% block content %}
  <h1>게시글 생성</h1>
  {% comment %} form 태그로 POST방식 --->  {% endcomment %}
  {% comment %} 1. url의 create {% endcomment %}
  {% comment %} 2. views.py create함수의 request {% endcomment %}

  {% comment %} enctype = "multipart/form-data" ---> 폼 데이터와 함께 파일(이미지, 문서...)을 서버에 전송할수 있다. {% endcomment %}
  <form action="{% url "articles:create" %}" method = "POST" enctype = "multipart/form-data">
    {% comment %} csrf 토큰 : 보안 토큰(POST방식) {% endcomment %}
    {% csrf_token %}
    {% comment %} form.as_table, form.as_ul, form.as_div {% endcomment %}
    {{ form.as_p }}
    

    {% comment %} for = "title" 과 id = "title" 연관 {% endcomment %}
    {% comment %} name = "title"과 request.POST.get('title') {% endcomment %}
    {% comment %}     
    <div>   
      <label for="title">Title : </label>
      <input type="text" name = "title" id = "title">
    </div>
      
    <div> 
      <label for="content">Content : </label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    {% endcomment %}
    
    <input type="submit">
  </form>


{% endblock content %}