<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <div id="app">

   <!-- 배열 반복-->
    <div v-for ="(item, index) in myArr">
    {{idx}}/{{item.name}}
    </div>



   <!-- 객체 반복 -->
    <div v-for ="(value, key, idx)in myObj">
      {{idx}}/{{key}}/{{value}}
    </div>



   <!-- template 태그를 사용한 그룹 반복 -->
    <ul>
      <template v-for="item in myArr">
        <li>{{item.name}}</li>
        <li>{{item.age}}</li>
      </template>
    </ul>



   <!-- 중첩된 v-for -->
   <!-- 0번객체, 1번객체 (총 2번 반복) -->
    <ul v-for="item in myInfo">
      <li v-for = "friend in item.friends">
        <!-- 0번객체->3번 반복, 1번객체-> 2번 반복 -->
         {{item.name}}-{{friend}}
        
      </li>
    </ul>




 </div>

 <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 <script>
   const { createApp, ref } = Vue

   const app = createApp({
     setup() {
      //배열
       const myArr = ref([
         { name: 'Alice', age: 20 },
         { name: 'Bella', age: 21 }
       ])

      // 객체
       const myObj = ref({
         name: 'Cathy',
         age: 30
       })

       // 배열안에 객체(중첩 데이터 구조)
       const myInfo = ref([
         { name: 'Alice', age: 20, friends: ['Bella', 'Cathy', 'Dan'] },
         { name: 'Bella', age: 21, friends: ['Alice', 'Cathy'] }
       ])


       return {
         myArr,
         myObj,
         myInfo
       }
     }
   })

   app.mount('#app')
 </script>
</body>